# Dataset Exploration & Cleaning

#### Dataset: SLU Opportunity Wise Data.csv

Importing necessary libraries

In [232]:
import numpy as np
import pandas as pd

Loading Dataset

In [233]:
df = pd.read_csv("SLU Opportunity Wise Data.csv")

Dataset Understanding

In [234]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8558 entries, 0 to 8557
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Learner SignUp DateTime  8558 non-null   object
 1   Opportunity Id           8558 non-null   object
 2   Opportunity Name         8558 non-null   object
 3   Opportunity Category     8558 non-null   object
 4   Opportunity End Date     8558 non-null   object
 5   First Name               8558 non-null   object
 6   Date of Birth            8558 non-null   object
 7   Gender                   8558 non-null   object
 8   Country                  8558 non-null   object
 9   Institution Name         8553 non-null   object
 10  Current/Intended Major   8553 non-null   object
 11  Entry created at         8558 non-null   object
 12  Status Description       8558 non-null   object
 13  Status Code              8558 non-null   int64
 14  Apply Date               8558 non-null   object
 15  Opportunity Start Date   4764 non-null   object
dtypes: int64(1), object(15)
memory usage: 1.0+ MB

In [235]:
df.head()

,Learner SignUp DateTime,Opportunity Id,Opportunity Name,Opportunity Category,Opportunity End Date,First Name,Date of Birth,Gender,Country,Institution Name,Current/Intended Major,Entry created at,Status Description,Status Code,Apply Date,Opportunity Start Date
0,06/14/2023 12:30:35,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Faria,01/12/2001,Female,Pakistan,Nwihs,Radiology,03/11/2024 12:01:41,Started,1080,06/14/2023 12:36:09,11/03/2022 18:30:39
1,05/01/2023 05:29:16,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Poojitha,08/16/2000,Female,India,SAINT LOUIS,Information Systems,03/11/2024 12:01:41,Started,1080,05/01/2023 06:08:21,11/03/2022 18:30:39
2,04/09/2023 20:35:08,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Emmanuel,01/27/2002,Male,United States,Illinois Institute of Technology,Computer Science,03/11/2024 12:01:41,Started,1080,05/11/2023 1085640:21:29,11/03/2022 18:30:39
3,08/29/2023 05:20:03,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Amrutha Varshini,11/01/1999,Female,United States,Saint Louis University,Information Systems,03/11/2024 12:01:41,Team Allocated,1070,10/09/2023 22:02:42,11/03/2022 18:30:39
4,01/06/2023 15:26:36,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Vinay Varshith,04/19/2000,Male,United States,Saint Louis University,Computer Science,03/11/2024 12:01:41,Started,1080,01/06/2023 15:40:10,11/03/2022 18:30:39

In [236]:
print ("Total Rows:", df.shape[0])
print ("Total Columns:", df.shape[1])

Total Rows: 8558
Total Columns: 16

Correcting datatype

In [237]:
# List of date columns
date_cols = ['Learner SignUp DateTime', 'Date of Birth', 'Opportunity End Date', 
             'Entry created at', 'Apply Date', 'Opportunity Start Date']

for col in date_cols:
    # Convert to datetime, infer format, drop time part
    df[col] = pd.to_datetime(df[col], errors='coerce').dt.normalize()  # removes hours, mins, secs
    # Convert back to datetime64[ns] to ensure uniform type
    df[col] = pd.to_datetime(df[col], format='%Y-%m-%d')

Checking Missing Values

In [238]:
df.isnull().sum()

Learner SignUp DateTime     295
Opportunity Id                0
Opportunity Name              0
Opportunity Category          0
Opportunity End Date       1262
First Name                    0
Date of Birth                 0
Gender                        0
Country                       0
Institution Name              5
Current/Intended Major        5
Entry created at              0
Status Description            0
Status Code                   0
Apply Date                  307
Opportunity Start Date     4637
dtype: int64

Filling Missing values with appropriate values

In [239]:
# Fill categorical missing values
df['Institution Name'] = df['Institution Name'].fillna('Unknown')
df['Current/Intended Major'] = df['Current/Intended Major'].fillna('Unknown')

# Fill date columns with mode
date_cols = ['Learner SignUp DateTime', 'Opportunity End Date', 
             'Apply Date', 'Opportunity Start Date']

for col in date_cols:
    mode_date = df[col].mode()[0]  # get most frequent date
    df[col] = df[col].fillna(mode_date)

# Verify no missing values remain
df.isnull().sum()

Learner SignUp DateTime    0
Opportunity Id             0
Opportunity Name           0
Opportunity Category       0
Opportunity End Date       0
First Name                 0
Date of Birth              0
Gender                     0
Country                    0
Institution Name           0
Current/Intended Major     0
Entry created at           0
Status Description         0
Status Code                0
Apply Date                 0
Opportunity Start Date     0
dtype: int64

Checking Duplicate rows if exists

In [240]:
duplicates = df.duplicated()
print("Total duplicate rows:", duplicates.sum())

df[duplicates]

Total duplicate rows: 2

,Learner SignUp DateTime,Opportunity Id,Opportunity Name,Opportunity Category,Opportunity End Date,First Name,Date of Birth,Gender,Country,Institution Name,Current/Intended Major,Entry created at,Status Description,Status Code,Apply Date,Opportunity Start Date
1370,2023-08-27,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,2024-06-29,Reddi,2003-12-01,Male,India,Aditya Engineering College,Computer Science and Engineering,2024-03-11,Team Allocated,1070,2023-08-27,2022-11-03
4882,2024-01-19,00000000-0GWQ-AXC5-X45C-2MHJ28,Data Visualization,Internship,2024-03-11,warda,2001-11-18,Female,Pakistan,National University of Sciences and Technology,Data Science,2024-03-11,Rejected,1030,2024-01-19,2022-11-03

Removing Duplicate rows

In [241]:
df = df.drop_duplicates().reset_index(drop=True)

df.duplicated().sum()

np.int64(0)

Checking for inconsistency

In [242]:
# Display unique values count for each column
for col in df.columns:
    print(f"{col}: {df[col].nunique()} unique values")
    
# Optional: display actual unique values for inspection
for col in df.columns:
    print(f"{col} unique values:\n{df[col].unique()}\n")

Learner SignUp DateTime: 410 unique values
Opportunity Id: 23 unique values
Opportunity Name: 22 unique values
Opportunity Category: 5 unique values
Opportunity End Date: 14 unique values
First Name: 3026 unique values
Date of Birth: 2620 unique values
Gender: 4 unique values
Country: 71 unique values
Institution Name: 2090 unique values
Current/Intended Major: 407 unique values
Entry created at: 1 unique values
Status Description: 8 unique values
Status Code: 8 unique values
Apply Date: 433 unique values
Opportunity Start Date: 12 unique values
Learner SignUp DateTime unique values:
<DatetimeArray>
['2023-06-14 00:00:00', '2023-05-01 00:00:00', '2023-04-09 00:00:00',
 '2023-08-29 00:00:00', '2023-01-06 00:00:00', '2024-03-02 00:00:00',
 '2023-05-31 00:00:00', '2023-07-22 00:00:00', '2023-03-20 00:00:00',
 '2023-05-11 00:00:00',
 ...
 '2024-03-06 00:00:00', '2023-11-13 00:00:00', '2023-11-03 00:00:00',
 '2023-04-11 00:00:00', '2023-02-18 00:00:00', '2023-01-26 00:00:00',
 '2023-03-02 00:00:00', '2023-10-25 00:00:00', '2024-02-26 00:00:00',
 '2023-02-17 00:00:00']
Length: 410, dtype: datetime64[ns]

Opportunity Id unique values:
['00000000-0GN2-A0AY-7XK8-C5FZPP' '00000000-0GHG-N3NG-584M-44MK40'
 '00000000-0GNT-FT74-MZT8-93VC0G' '00000000-0GRA-BD28-CXVV-EYEX21'
 '00000000-0GZY-NNHV-FJWW-PTA9VX' '00000000-0GHB-4N83-QX9K-JM48K2'
 '00000000-0GWQ-AXC5-X45C-2MHJ28' '00000000-10WC-BS50-CYGD-X97ES4'
 '00000000-104G-3FS6-3SV3-JKHVQB' '00000000-10WW-X340-GTVH-RR52VF'
 '00000000-10QW-PYTT-CJCX-7VQBTT' '00000000-10YM-B80K-RNNJ-YAVQ7V'
 '00000000-10S6-HVRK-ZDAM-90C0F8' '00000000-101Y-HSX2-0DFJ-QCKQBR'
 '00000000-10GG-17ZM-AP4T-WQVBGQ' '00000000-10CD-3CAK-3FZK-9VXKRM'
 '00000000-10SA-ZXDA-E05A-N2CGAN' '00000000-101B-RJY9-TVWC-6XG9BH'
 '00000000-106T-FSAJ-KDBX-40ZGNV' '00000000-10RQ-JXA9-NNKD-EW5RCF'
 '00000000-10A5-TYD2-181G-D2J679' '00000000-100J-PM3A-0WJ8-5T68M5'
 '00000000-10GQ-RJHT-3G4S-BKGBY1']

Opportunity Name unique values:
['Career Essentials: Getting Started with Your Professional Journey'
 'Slide Geeks: A Presentation Design Competition' 'Digital Marketing'
 'Health Care Management' 'Innovation & Entrepreneurship'
 'Project Management' 'Data Visualization' 'CPR/AED Certification'
 'Mental and Physical Health Session'
 'Jump Start: Developing your Emotional Intelligence'
 'Join a Student Organisation' 'Upload Your First Year Transcript'
 'Startup Mastery Workshop' 'AI Ethics Challenge'
 'Data Visualization Associate' 'Digital Strategy Virtual Internship'
 'Project Management Associate' 'Business Consulting'
 'UrbanRenew Challenge' 'UX Redesign Challenge'
 'Xperience Design Hackathon' 'Freelance Mastery workshop']

Opportunity Category unique values:
['Course' 'Competition' 'Internship' 'Event' 'Engagement']

Opportunity End Date unique values:
<DatetimeArray>
['2024-06-29 00:00:00', '2023-03-01 00:00:00', '2024-03-11 00:00:00',
 '2024-06-30 00:00:00', '2024-04-23 00:00:00', '2025-12-05 00:00:00',
 '2025-12-06 00:00:00', '2024-02-17 00:00:00', '2023-10-31 00:00:00',
 '2024-04-29 00:00:00', '2024-04-19 00:00:00', '2024-03-13 00:00:00',
 '2025-12-24 00:00:00', '2024-03-08 00:00:00']
Length: 14, dtype: datetime64[ns]

First Name unique values:
['Faria' 'Poojitha' 'Emmanuel' ... 'Saathwika' 'Fabian' 'Abiola']

Date of Birth unique values:
<DatetimeArray>
['2001-01-12 00:00:00', '2000-08-16 00:00:00', '2002-01-27 00:00:00',
 '1999-11-01 00:00:00', '2000-04-19 00:00:00', '1996-05-12 00:00:00',
 '2001-09-09 00:00:00', '2006-02-27 00:00:00', '2005-12-22 00:00:00',
 '1998-06-26 00:00:00',
 ...
 '1993-11-18 00:00:00', '1995-09-23 00:00:00', '2000-11-20 00:00:00',
 '2006-10-18 00:00:00', '1980-08-12 00:00:00', '2000-02-06 00:00:00',
 '1994-05-10 00:00:00', '2003-11-04 00:00:00', '2002-02-09 00:00:00',
 '2008-02-19 00:00:00']
Length: 2620, dtype: datetime64[ns]

Gender unique values:
['Female' 'Male' "Don't want to specify" 'Other']

Country unique values:
['Pakistan' 'India' 'United States' 'United Arab Emirates' 'Nigeria'
 'Egypt' 'Nepal' 'Kenya' 'Ghana' 'Zambia' 'Morocco' 'Ethiopia' 'Zimbabwe'
 'Uganda' 'Indonesia' 'Cameroon' 'Yemen' 'China' 'Bangladesh' 'Congo'
 'Liberia' 'United Kingdom' 'Vietnam' 'Japan' 'Rwanda' 'Gambia'
 'Philippines' 'Australia' 'Somalia' 'Sierra Leone' 'Lebanon' 'Botswana'
 'Iraq' 'Uzbekistan' 'Turkey' 'Honduras'
 'Tanzania, United Republic of Tanzania' 'British Indian Ocean Territory'
 'France' 'Belarus' 'Algeria' 'Korea, Republic of South Korea' 'Mauritius'
 'Tunisia' 'Kazakhstan' 'Peru' 'Brazil' 'Ukraine' 'South Africa' 'Germany'
 'Namibia' 'Iran, Islamic Republic of Persian Gulf' 'American Samoa'
 'Falkland Islands (Malvinas)' 'Saudi Arabia' 'Sri Lanka' 'Azerbaijan'
 'Dominican Republic' 'Lesotho' 'Malaysia' 'Virgin Islands, U.S.' 'Qatar'
 'Canada' 'Singapore' 'Iran  Islamic Republic of Persian Gulf' 'Ireland'
 'Libyan Arab Jamahiriya' "Cote d'Ivoire" 'Afghanistan' 'Bhutan' 'Spain']

Institution Name unique values:
['Nwihs' 'SAINT LOUIS' 'Illinois Institute of Technology' ...
 'Jawaharlal Nehru technological University of Hyderabad'
 'Kwara state University' 'Tai Solarin university of Education']

Current/Intended Major unique values:
['Radiology' 'Information Systems' 'Computer Science'
 'Mechanical Engineering' 'Computer Science and Engineering'
 'Artificial Intelligence' 'Robotics and Automation Engineering'
 'Data Visualization' 'Business Administration' 'Public Health'
 'Architecture' 'Computer Science and Information Systems' 'Biology'
 'Economics' 'Oth' 'Mathematics' 'Bioinformatics' 'I Am Major'
 'Biomedical Engineering' 'Electrical and Electronic Engineering'
 'Business and Management Studies' 'Electrical and Computer Engineering'
 'Accounting and Finance' 'Secretarial' 'Data Science' 'Statistics'
 'Electronics and Communication' 'Computer Information Systems'
 'Management Information Systems' 'Other' 'Project Management' 'Medicine'
 'Information' 'Information Technology' 'Actuarial Mathematics'
 'Software Engineering' 'Biological Sciences'
 'Urban and Housing Development' 'Human Resources' 'Cyber Security'
 'Data Analytics' 'Computer Engineering' 'Environmental Sciences'
 'Philosophy' 'Law and Legal Studies' 'Student' 'Industrial Engineering'
 'Theology or Divinity and Religious Studies' 'Business Analytics'
 'Artificial Intelligence and Machine learning' 'Agriculture and Forestry'
 'International Business Management' 'Politics' 'Marketing'
 'Pure and Applied Physics' 'Biochemistry'
 'Information Technology and Management' 'Civil Engineering' 'English'
 'Electrical Engineering' 'Eee' 'Social Work' 'Cybersecurity'
 'Computer Science with Internet of Things' 'Pharmacy and Pharmacology'
 'Nutrition Science' 'Pol' 'Metallurgy and Materials Engineering'
 'Finance' 'Geography' 'Information technology and management'
 'English Language and Literature' 'Dentistry' 'Communication' 'Chemistry'
 'Food Science' 'Psychology' 'MS in Supply Chain Management'
 'English Linguistics' 'Hospitality and Leisure Management'
 'Financial Technology' 'Mass Communication' 'Information technology'
 'Health Data Science' 'Electronics and Communication Engineering'
 'Quantity Surveying' 'Masters in Computer Science' 'Commerce'
 'Environmental and Safety Engineering' 'Network and Information Security'
 'Cloud Computing' 'MBA' 'Fresher' 'Computer Applications'
 'Mechanical and Aerospace Engineering' 'Mechatronics Engineering'
 'Supply Chain Management' 'Nursing' 'Political Science'
 'Animal Production and Health' 'Faizan' 'International Relations'
 'Artificial Intelligence and Robotics' 'Not Know Ab' 'Health Education'
 'Public Administration' 'Btech' 'Radiation Therapy' 'Digital Marketing'
 'Engineering' 'Associate of Science' 'Education and Training'
 'Aerospace Engineering' 'Bachelor of Engineering' 'Sociology' 'Degree'
 'Marketing Analytics' 'Medical Sciences' 'Finance and Banking'
 'Art and Design' 'BSIT' 'Physics and Astronomy' 'Chemical Engineering'
 'Business Chinese' 'Music' 'Earth and Marine Sciences' 'ANALYTICS' 'Job'
 'Leadership' 'Agricultural Extension and Education'
 'Education Management' 'Applied Financial Economics' 'DOCTOR of PHARMACY'
 'Bsc Agri' 'Research' 'Information Science' 'Management' 'Non' 'Sdada'
 'Telecommunication Engineering' 'ESports and Game Development'
 'Epidemiology' 'Petroleum Engineering' 'Procurement' 'Biotechnology'
 'Airline Pilot' 'Food Safety and Technology' 'Systems Engineering' 'Ghj'
 'Na' 'Pre Engg' 'Civil and Structural Engineering' 'Entrepreneurship'
 'Program in Exploratory Studies' 'Architectural Engineering' 'General'
 'Geology' 'Neuroscience' 'Data Analysis' 'Gamer' 'Bsc Nursing'
 'Information Engineering' 'BBA' 'Medical Laboratory Science' 'MCA'
 'Human Resource' 'After Bachelor' 'Aeronautics' 'Engineers Physics'
 'Soil Science and Technology' 'Business' 'No'
 'Construction Engineering and Management'
 'Communication and Media Studies' 'Bs Forestry and Wildlife Management'
 'Medical Laboratory' 'Analytics' 'Aa'
 'Data Science and Artificial Intelligence'
 'Msc cyber forensics and security' 'Statistics and Operational Research'
 'Master in VLSI and Microelectronics' 'MMG' 'Accountancy'
 'Economics and Econometrics' 'Computer and Infromation Sciences'
 'Bsc in Computer Science' 'Community Health Officer' 'Social S'
 'Post Graduate Diploma in Public Health' 'Goodcreativity' 'Bachelor'
 'Monitoring and Evaluation' 'Electrical Engineer' 'Linguistics'
 'Voice Performance' 'Bachelor of Laws'
 'Library and Information Management' 'Ba Psych' 'Shaista' 'Ha' 'Forensic'
 'Forensic Science' 'SUPPLY CHAIN MANAGEMENT' 'Bcom' 'Masters'
 'Occupational Therapy' 'Law'
 'MSc in Computational Decision Science and Operations Research'
 'Rehabilitation and Mental Health Counseling'
 'Information technology Management' 'Archaeology' 'Logistics'
 'ENGINEERING Management' 'MASTERS in INFORMATION SYSTEMS'
 'Bnsc Nursing Science' 'Computer Science Engineering'
 'Aviation Management' 'Land Economy' 'ACCOUNTING' 'Unknown'
 'Diploma in Visual Effects' 'Digital Media' 'Journalism'
 'Masters in Information Systems' 'Unemployed'
 'MS in Information Science Machine Learning' 'Applied Geophysics'
 'BCOM International Business' 'Functional Engineering'
 'Development Studies' 'AVIATION ADMINISTRATION' 'General Arts'
 'Computing' 'Diploma' 'Anatomy and Physiology'
 'Business Information Systems' 'Artificial Intelligence and Data Science'
 'Diploma in Automation and Robotics' 'BCA' 'Could Computing'
 'Advertising' 'Electronics and Computer Science Engineering' 'Physics'
 'Ot' 'MS Biostatistics and Health Analytics'
 'Information and Communication Engineering'
 'Computer Science and Business Systems' 'Dropped Out'
 'Electronics and Computers Engineering' 'Othe'
 'Social Policy and Administration' 'Computer and Information Sciences'
 'B TECH' 'Informatics' 'Medical Marketing or Medical Administration' 'TE'
 'Archeology and Cinematography' 'Carpentry and Joinery'
 'Guidance and Counseling' 'Computer' 'Manufacturing Engineering'
 'Manager' 'Computer and Information Sciencess' 'Bsc Physician Assistant'
 'Data Science and Business Analytics' 'Zoology' 'MBBS'
 'Computer applications' 'Home Economics' 'Paediatric Surgery'
 'Health Care Management' 'Food Process Engineering' 'Bioengineering'
 'Biomedical Science' 'Bsc' 'Aviation Maintenance' 'Microbiology'
 'Political Science and Spanish' 'Bba Hr' 'Radiography'
 'Clinical Research' 'INFORMATION SYSTEMS' 'Healthcare Management'
 'Medical Informatics' 'Geoinformatics and Geospatial Analytics'
 'Bachelor of Medicine Bachelor of Surgery' 'Applied Analytics'
 'Master of Public Health' 'To Study' 'Information systems'
 'Veterinary Science' 'Certificate' 'Medical Science' 'Midwifery'
 'Cyber Forensics and Security' 'Human Development and Family Science'
 'Dietetics' 'Speech and Language Therapy' 'Health Management'
 'General Science' 'Environmental Sustainability' 'Poetry'
 'Electronics and Computer Science' 'History'
 'MSc in Information technology' 'Tech and Business Management'
 'Communication and Software Engineer' 'Respiratory Therapy'
 'Health Information Management' 'Yoganand Sir' 'Data Analyst'
 'Procurement and Supply Chain Management' 'Arts' 'B Tech'
 'Computer science engineering' 'MS in Cybersecurity' 'Performing Arts'
 'Ms in Analytics' 'High School Certificate' 'BAF' 'Estate Management'
 'Lower Credit' 'Social Development and Policy' 'Automotive Engineering'
 'Textile' 'Education and Geography' 'Aeronautical Engineering'
 'General Management' 'Electronics and Computer Engineering'
 'Certification' 'Development Economics' 'Film Making'
 'Msc in Disaster Management and Climate Sustainability Studies'
 'International Development' 'Data Sceince' 'Animal Production'
 'COMPUTER SCIENCE and DESIGN' 'Business Informatics'
 'Mineral and Mining Engineering' 'Pursuing MCA' 'People Analytics'
 'Autonomous Systems and Robotics' 'Business Education' 'Data science'
 'Remote Sensing' 'Textile Engineering' 'Machine Learning' 'Analysis'
 'Physiotherapy' 'Statistics and Computeri Science' 'Honours'
 'International Business' 'Management Science and Analytics'
 'Actuarial Science' 'ISE' 'IT'
 'Electronics and Telecommunication Engineering' 'MECHANICAL'
 'Islamic Studies' 'Communication and Language Arts Education'
 'Early Childhood Education' 'Otheraassss' 'Multimedia Communication'
 'High School' 'Physical Therapy' 'Human Nutrition and Dietetics'
 'Health Sciences' 'Information Studies' 'General Practitioner'
 'Cyber Security and Digital Forensics' 'Entrepreneurship Studies'
 'American Sign Language Interpretation' 'B Sc' 'Nurse' 'Communications'
 'Brand Strategy' 'Fisheries' 'Www' 'High School Student'
 'Computer Science and Design' 'BSC Cs'
 'Msters in Healthcare Administration' 'Advertising and Packaging'
 'Computer Networking and IT Security' 'Already Graduation Completed'
 'Health Informatics' 'Health Systems Management and Development'
 'Geographic Information Science'
 'Agricultural Economics and Farm Management' 'Professional Courses'
 'ECONOMICS and FINANCE' 'Animal Science' 'GENERAL MANAGEMENT'
 'Electronics and Instrumentation' 'Bachelor of Computer' 'Accounting'
 'Working As Software Devloper' 'Pv'
 'Leadership and Organizational development' 'Home Tutor' 'Cycw'
 'Bachelor Degree in Nursing' 'Education Administration' 'Nil' 'Zack'
 'Pos Service']

Entry created at unique values:
<DatetimeArray>
['2024-03-11 00:00:00']
Length: 1, dtype: datetime64[ns]

Status Description unique values:
['Started' 'Team Allocated' 'Waitlisted' 'Withdraw' 'Rewards Award'
 'Dropped Out' 'Rejected' 'Applied']

Status Code unique values:
[1080 1070 1040 1110 1120 1050 1030 1010]

Apply Date unique values:
<DatetimeArray>
['2023-06-14 00:00:00', '2023-05-01 00:00:00', '2024-01-05 00:00:00',
 '2023-10-09 00:00:00', '2023-01-06 00:00:00', '2024-03-02 00:00:00',
 '2023-07-22 00:00:00', '2023-05-24 00:00:00', '2023-12-17 00:00:00',
 '2023-09-04 00:00:00',
 ...
 '2023-11-01 00:00:00', '2023-11-14 00:00:00', '2023-11-23 00:00:00',
 '2024-03-11 00:00:00', '2023-09-30 00:00:00', '2023-11-21 00:00:00',
 '2024-01-01 00:00:00', '2023-10-01 00:00:00', '2023-11-03 00:00:00',
 '2023-04-06 00:00:00']
Length: 433, dtype: datetime64[ns]

Opportunity Start Date unique values:
<DatetimeArray>
['2022-11-03 00:00:00', '2024-01-08 00:00:00', '2023-03-20 00:00:00',
 '2024-04-30 00:00:00', '2023-06-06 00:00:00', '2023-08-21 00:00:00',
 '2024-05-31 00:00:00', '2024-02-17 00:00:00', '2024-03-21 00:00:00',
 '2024-02-15 00:00:00', '2024-01-28 00:00:00', '2024-03-08 00:00:00']
Length: 12, dtype: datetime64[ns]

Ensuring consistency

In [243]:
# Standardize Gender column
df['Gender'] = df['Gender'].str.strip()  # remove leading/trailing spaces
df['Gender'] = df['Gender'].replace({
    "Don'T Want To Specify": "Don't Want to Specify",
    "dont want to specify": "Don't Want to Specify",
    "Other": "Other",
    "Female": "Female",
    "Male": "Male"
})

In [244]:
df['Gender'].unique()

array(['Female', 'Male', "Don't want to specify", 'Other'], dtype=object)

In [245]:
# Define a mapping of inconsistent country names to standardized ones
country_corrections = {
    'Tanzania, United Republic of Tanzania': 'Tanzania',
    'Korea, Republic of South Korea': 'South Korea',
    'Iran, Islamic Republic of Persian Gulf': 'Iran',
    'Iran  Islamic Republic of Persian Gulf': 'Iran',
    'Falkland Islands (Malvinas)': 'Falkland Islands',
    'Virgin Islands, U.S.': 'U.S. Virgin Islands',
    'Libyan Arab Jamahiriya': 'Libya'
}

# Apply corrections
df['Country'] = df['Country'].replace(country_corrections)

In [246]:
df['Country'].unique()

array(['Pakistan', 'India', 'United States', 'United Arab Emirates',
       'Nigeria', 'Egypt', 'Nepal', 'Kenya', 'Ghana', 'Zambia', 'Morocco',
       'Ethiopia', 'Zimbabwe', 'Uganda', 'Indonesia', 'Cameroon', 'Yemen',
       'China', 'Bangladesh', 'Congo', 'Liberia', 'United Kingdom',
       'Vietnam', 'Japan', 'Rwanda', 'Gambia', 'Philippines', 'Australia',
       'Somalia', 'Sierra Leone', 'Lebanon', 'Botswana', 'Iraq',
       'Uzbekistan', 'Turkey', 'Honduras', 'Tanzania',
       'British Indian Ocean Territory', 'France', 'Belarus', 'Algeria',
       'South Korea', 'Mauritius', 'Tunisia', 'Kazakhstan', 'Peru',
       'Brazil', 'Ukraine', 'South Africa', 'Germany', 'Namibia', 'Iran',
       'American Samoa', 'Falkland Islands', 'Saudi Arabia', 'Sri Lanka',
       'Azerbaijan', 'Dominican Republic', 'Lesotho', 'Malaysia',
       'U.S. Virgin Islands', 'Qatar', 'Canada', 'Singapore', 'Ireland',
       'Libya', "Cote d'Ivoire", 'Afghanistan', 'Bhutan', 'Spain'],
      dtype=object)

In [247]:
# Step 1: Basic title case and stripping
df['Current/Intended Major'] = df['Current/Intended Major'].str.title().str.strip()

# Step 2: Mapping for known corrections and typos
major_corrections = {
    # Standardize degrees
    'Bsc': 'BSc',
    'Bsc Cs': 'BSc Computer Science',
    'Bsc In Computer Science': 'BSc Computer Science',
    'Bsc Nursing': 'BSc Nursing',
    'B Tech': 'B.Tech',
    'Btech': 'B.Tech',
    'Mba': 'MBA',
    'Msc': 'MS / MSc',
    'Msters In Healthcare Administration': 'Masters In Healthcare Administration',
    'Msc Cyber Forensics And Security': 'MSc Cyber Forensics And Security',
    'Msc In Information Technology': 'MSc Information Technology',
    'Masters In Computer Science': 'MSc Computer Science',
    'Masters In Information Systems': 'MSc Information Systems',
    'Pursuing Mca': 'MCA',
    'BBA HR': 'BBA In Human Resources',
    'Baf': 'Other',
    'Bsit': 'Other',
    'Ot': 'Other',
    'Te': 'Other',
    'Mmg': 'Other',
    'Bca': 'Other',
    'No': 'Other',
    'Aa': 'Other',
    # Non-academic / placeholder entries
    'Yoganand Sir': 'Other',
    'Shaista': 'Other',
    'Ha': 'Other',
    'Cycw': 'Other',
    'Zack': 'Other',
    'Pv': 'Other',
    'Otheraassss': 'Other',
    'Oth': 'Other',
    'I Am Major': 'Other',
    'Na': 'Other',
    'Ghj': 'Other',
    'Faizan': 'Other',
    'Student': 'Other',
    'Fresher': 'Other',
    'Job': 'Other',
    'Unknown': 'Other',
    'Unemployed': 'Other',
    'Already Graduation Completed': 'Other',
    'To Study': 'Other',
    'After Bachelor': 'Other',
    'Nil': 'Other',
    'Www': 'Other',
    'General': 'Other',
    'Degree': 'Other'
}

df['Current/Intended Major'] = df['Current/Intended Major'].replace(major_corrections)

# Step 3: Regex-based standardization / merging similar fields
major_mapping = {
    r'(?i)^computer science.*$': 'Computer Science',
    r'(?i)^artificial intelligence.*$': 'Artificial Intelligence',
    r'(?i)^cyber.*$': 'Cybersecurity / InfoSec',
    r'(?i)^information systems.*$': 'Information Systems',
    r'(?i)^data science.*$': 'Data Science',
    r'(?i)^supply chain.*$': 'Supply Chain Management',
    r'(?i)^mechanical.*$': 'Mechanical Engineering',
    r'(?i)^electrical.*$': 'Electrical Engineering',
    r'(?i)^business.*$': 'Business Administration',
    r'(?i)^finance.*$': 'Finance',
    r'(?i)^management.*$': 'Management',
    r'(?i)^law.*$': 'Law',
    r'(?i)^health.*management.*$': 'Healthcare Management',
    r'(?i)^msc.*$': 'MS / MSc',
    r'(?i)^mba.*$': 'MBA',
    r'(?i)^b\.?tech.*$': 'B.Tech',
    r'(?i)^bsc.*$': 'BSc'
}

def clean_major(major):
    if pd.isnull(major) or major.strip() == '':
        return 'Other'
    major = major.strip()
    for pattern, replacement in major_mapping.items():
        if pd.Series([major]).str.match(pattern, case=False).any():
            return replacement
    return major

df['Current/Intended Major'] = df['Current/Intended Major'].apply(clean_major)

# Step 4: Map any remaining single-word unclear entries to 'Other'
unclear_entries = ['Baf', 'Bsit', 'Ot', 'Te', 'Mmg', 'Bca', 'Pos Service']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(unclear_entries, 'Other')

# Step 5: Optional  final title case standardization
df['Current/Intended Major'] = df['Current/Intended Major'].str.title()

# Step 6: Print unique values
print(df['Current/Intended Major'].unique())

['Radiology' 'Information Systems' 'Computer Science'
 'Mechanical Engineering' 'Artificial Intelligence'
 'Robotics And Automation Engineering' 'Data Visualization'
 'Business Administration' 'Public Health' 'Architecture' 'Biology'
 'Economics' 'Other' 'Mathematics' 'Bioinformatics'
 'Biomedical Engineering' 'Electrical Engineering'
 'Accounting And Finance' 'Secretarial' 'Data Science' 'Statistics'
 'Electronics And Communication' 'Computer Information Systems'
 'Management' 'Project Management' 'Medicine' 'Information'
 'Information Technology' 'Actuarial Mathematics' 'Software Engineering'
 'Biological Sciences' 'Urban And Housing Development' 'Human Resources'
 'Cybersecurity / Infosec' 'Data Analytics' 'Computer Engineering'
 'Environmental Sciences' 'Philosophy' 'Law' 'Industrial Engineering'
 'Theology Or Divinity And Religious Studies' 'Agriculture And Forestry'
 'International Business Management' 'Politics' 'Marketing'
 'Pure And Applied Physics' 'Biochemistry'
 'Information Technology And Management' 'Civil Engineering' 'English'
 'Eee' 'Social Work' 'Pharmacy And Pharmacology' 'Nutrition Science' 'Pol'
 'Metallurgy And Materials Engineering' 'Finance' 'Geography'
 'English Language And Literature' 'Dentistry' 'Communication' 'Chemistry'
 'Food Science' 'Psychology' 'Ms In Supply Chain Management'
 'English Linguistics' 'Hospitality And Leisure Management'
 'Financial Technology' 'Mass Communication' 'Health Data Science'
 'Electronics And Communication Engineering' 'Quantity Surveying'
 'Ms / Msc' 'Commerce' 'Environmental And Safety Engineering'
 'Network And Information Security' 'Cloud Computing' 'Mba'
 'Computer Applications' 'Mechatronics Engineering'
 'Supply Chain Management' 'Nursing' 'Political Science'
 'Animal Production And Health' 'International Relations' 'Not Know Ab'
 'Health Education' 'Public Administration' 'B.Tech' 'Radiation Therapy'
 'Digital Marketing' 'Engineering' 'Associate Of Science'
 'Education And Training' 'Aerospace Engineering'
 'Bachelor Of Engineering' 'Sociology' 'Marketing Analytics'
 'Medical Sciences' 'Art And Design' 'Physics And Astronomy'
 'Chemical Engineering' 'Music' 'Earth And Marine Sciences' 'Analytics'
 'Leadership' 'Agricultural Extension And Education'
 'Education Management' 'Applied Financial Economics' 'Doctor Of Pharmacy'
 'Bsc' 'Research' 'Information Science' 'Non' 'Sdada'
 'Telecommunication Engineering' 'Esports And Game Development'
 'Epidemiology' 'Petroleum Engineering' 'Procurement' 'Biotechnology'
 'Airline Pilot' 'Food Safety And Technology' 'Systems Engineering'
 'Pre Engg' 'Civil And Structural Engineering' 'Entrepreneurship'
 'Program In Exploratory Studies' 'Architectural Engineering' 'Geology'
 'Neuroscience' 'Data Analysis' 'Gamer' 'Information Engineering' 'Bba'
 'Medical Laboratory Science' 'Mca' 'Human Resource' 'Aeronautics'
 'Engineers Physics' 'Soil Science And Technology'
 'Construction Engineering And Management'
 'Communication And Media Studies' 'Bs Forestry And Wildlife Management'
 'Medical Laboratory' 'Statistics And Operational Research'
 'Master In Vlsi And Microelectronics' 'Accountancy'
 'Economics And Econometrics' 'Computer And Infromation Sciences'
 'Community Health Officer' 'Social S'
 'Post Graduate Diploma In Public Health' 'Goodcreativity' 'Bachelor'
 'Monitoring And Evaluation' 'Linguistics' 'Voice Performance'
 'Bachelor Of Laws' 'Library And Information Management' 'Ba Psych'
 'Forensic' 'Forensic Science' 'Bcom' 'Masters' 'Occupational Therapy'
 'Rehabilitation And Mental Health Counseling'
 'Information Technology Management' 'Archaeology' 'Logistics'
 'Engineering Management' 'Bnsc Nursing Science' 'Aviation Management'
 'Land Economy' 'Accounting' 'Diploma In Visual Effects' 'Digital Media'
 'Journalism' 'Ms In Information Science Machine Learning'
 'Applied Geophysics' 'Bcom International Business'
 'Functional Engineering' 'Development Studies' 'Aviation Administration'
 'General Arts' 'Computing' 'Diploma' 'Anatomy And Physiology'
 'Diploma In Automation And Robotics' 'Could Computing' 'Advertising'
 'Electronics And Computer Science Engineering' 'Physics'
 'Ms Biostatistics And Health Analytics'
 'Information And Communication Engineering' 'Dropped Out'
 'Electronics And Computers Engineering' 'Othe'
 'Social Policy And Administration' 'Computer And Information Sciences'
 'Informatics' 'Medical Marketing Or Medical Administration'
 'Archeology And Cinematography' 'Carpentry And Joinery'
 'Guidance And Counseling' 'Computer' 'Manufacturing Engineering'
 'Manager' 'Computer And Information Sciencess' 'Zoology' 'Mbbs'
 'Home Economics' 'Paediatric Surgery' 'Healthcare Management'
 'Food Process Engineering' 'Bioengineering' 'Biomedical Science'
 'Aviation Maintenance' 'Microbiology' 'Political Science And Spanish'
 'Bba Hr' 'Radiography' 'Clinical Research' 'Medical Informatics'
 'Geoinformatics And Geospatial Analytics'
 'Bachelor Of Medicine Bachelor Of Surgery' 'Applied Analytics'
 'Master Of Public Health' 'Veterinary Science' 'Certificate'
 'Medical Science' 'Midwifery' 'Human Development And Family Science'
 'Dietetics' 'Speech And Language Therapy' 'General Science'
 'Environmental Sustainability' 'Poetry'
 'Electronics And Computer Science' 'History'
 'Tech And Business Management' 'Communication And Software Engineer'
 'Respiratory Therapy' 'Data Analyst'
 'Procurement And Supply Chain Management' 'Arts' 'Ms In Cybersecurity'
 'Performing Arts' 'Ms In Analytics' 'High School Certificate'
 'Estate Management' 'Lower Credit' 'Social Development And Policy'
 'Automotive Engineering' 'Textile' 'Education And Geography'
 'Aeronautical Engineering' 'General Management'
 'Electronics And Computer Engineering' 'Certification'
 'Development Economics' 'Film Making' 'International Development'
 'Data Sceince' 'Animal Production' 'Mineral And Mining Engineering'
 'People Analytics' 'Autonomous Systems And Robotics' 'Remote Sensing'
 'Textile Engineering' 'Machine Learning' 'Analysis' 'Physiotherapy'
 'Statistics And Computeri Science' 'Honours' 'International Business'
 'Actuarial Science' 'Ise' 'It'
 'Electronics And Telecommunication Engineering' 'Islamic Studies'
 'Communication And Language Arts Education' 'Early Childhood Education'
 'Multimedia Communication' 'High School' 'Physical Therapy'
 'Human Nutrition And Dietetics' 'Health Sciences' 'Information Studies'
 'General Practitioner' 'Entrepreneurship Studies'
 'American Sign Language Interpretation' 'B Sc' 'Nurse' 'Communications'
 'Brand Strategy' 'Fisheries' 'High School Student'
 'Masters In Healthcare Administration' 'Advertising And Packaging'
 'Computer Networking And It Security' 'Health Informatics'
 'Geographic Information Science'
 'Agricultural Economics And Farm Management' 'Professional Courses'
 'Economics And Finance' 'Animal Science'
 'Electronics And Instrumentation' 'Bachelor Of Computer'
 'Working As Software Devloper'
 'Leadership And Organizational Development' 'Home Tutor'
 'Bachelor Degree In Nursing' 'Education Administration']

In [248]:
# Final cleanup mapping
final_corrections = {
    'Eee': 'Electrical And Electronic Engineering',
    'Pol': 'Political Science',
    'Bba Hr': 'BBA In Human Resources',
    'Ise': 'Information Systems Engineering',
    'It': 'Information Technology',
    'Othe': 'Other',
    'Sdada': 'Other',
    'Non': 'Other',
    'Data Sceince': 'Data Science'
}

df['Current/Intended Major'] = df['Current/Intended Major'].replace(final_corrections)

# Map any remaining non-standard / one-word unclear entries to 'Other'
unclear_entries = ['Baf', 'Bsit', 'Ot', 'Te', 'Mmg', 'Bca', 'Pos Service', 'Na', 'Faizan', 'Ghj']
df['Current/Intended Major'] = df['Current/Intended Major'].replace(unclear_entries, 'Other')

In [250]:
final_mapping = {
    'Not Know Ab': 'Other',
    'Dropped Out': 'Other',
    'Could Computing': 'Cloud Computing',
    'Statistics And Computeri Science': 'Statistics And Computer Science',
    'Computer And Infromation Sciences': 'Computer And Information Sciences',
    'Human Resource': 'Human Resources',
    'B Sc': 'BSc',
    'Bsc': 'BSc',
    'Ms In Supply Chain Management': 'MS / MSc',
    'Ms Biostatistics And Health Analytics': 'MS / MSc',
    'Ms In Cybersecurity': 'MS / MSc',
    'Ms In Analytics': 'MS / MSc'
}

df['Current/Intended Major'] = df['Current/Intended Major'].replace(final_mapping)

In [251]:
df['Current/Intended Major'].unique()

array(['Radiology', 'Information Systems', 'Computer Science',
       'Mechanical Engineering', 'Artificial Intelligence',
       'Robotics And Automation Engineering', 'Data Visualization',
       'Business Administration', 'Public Health', 'Architecture',
       'Biology', 'Economics', 'Other', 'Mathematics', 'Bioinformatics',
       'Biomedical Engineering', 'Electrical Engineering',
       'Accounting And Finance', 'Secretarial', 'Data Science',
       'Statistics', 'Electronics And Communication',
       'Computer Information Systems', 'Management', 'Project Management',
       'Medicine', 'Information', 'Information Technology',
       'Actuarial Mathematics', 'Software Engineering',
       'Biological Sciences', 'Urban And Housing Development',
       'Human Resources', 'Cybersecurity / Infosec', 'Data Analytics',
       'Computer Engineering', 'Environmental Sciences', 'Philosophy',
       'Law', 'Industrial Engineering',
       'Theology Or Divinity And Religious Studies',
       'Agriculture And Forestry', 'International Business Management',
       'Politics', 'Marketing', 'Pure And Applied Physics',
       'Biochemistry', 'Information Technology And Management',
       'Civil Engineering', 'English',
       'Electrical And Electronic Engineering', 'Social Work',
       'Pharmacy And Pharmacology', 'Nutrition Science',
       'Political Science', 'Metallurgy And Materials Engineering',
       'Finance', 'Geography', 'English Language And Literature',
       'Dentistry', 'Communication', 'Chemistry', 'Food Science',
       'Psychology', 'MS / MSc', 'English Linguistics',
       'Hospitality And Leisure Management', 'Financial Technology',
       'Mass Communication', 'Health Data Science',
       'Electronics And Communication Engineering', 'Quantity Surveying',
       'Ms / Msc', 'Commerce', 'Environmental And Safety Engineering',
       'Network And Information Security', 'Cloud Computing', 'Mba',
       'Computer Applications', 'Mechatronics Engineering',
       'Supply Chain Management', 'Nursing',
       'Animal Production And Health', 'International Relations',
       'Health Education', 'Public Administration', 'B.Tech',
       'Radiation Therapy', 'Digital Marketing', 'Engineering',
       'Associate Of Science', 'Education And Training',
       'Aerospace Engineering', 'Bachelor Of Engineering', 'Sociology',
       'Marketing Analytics', 'Medical Sciences', 'Art And Design',
       'Physics And Astronomy', 'Chemical Engineering', 'Music',
       'Earth And Marine Sciences', 'Analytics', 'Leadership',
       'Agricultural Extension And Education', 'Education Management',
       'Applied Financial Economics', 'Doctor Of Pharmacy', 'BSc',
       'Research', 'Information Science', 'Telecommunication Engineering',
       'Esports And Game Development', 'Epidemiology',
       'Petroleum Engineering', 'Procurement', 'Biotechnology',
       'Airline Pilot', 'Food Safety And Technology',
       'Systems Engineering', 'Pre Engg',
       'Civil And Structural Engineering', 'Entrepreneurship',
       'Program In Exploratory Studies', 'Architectural Engineering',
       'Geology', 'Neuroscience', 'Data Analysis', 'Gamer',
       'Information Engineering', 'Bba', 'Medical Laboratory Science',
       'Mca', 'Aeronautics', 'Engineers Physics',
       'Soil Science And Technology',
       'Construction Engineering And Management',
       'Communication And Media Studies',
       'Bs Forestry And Wildlife Management', 'Medical Laboratory',
       'Statistics And Operational Research',
       'Master In Vlsi And Microelectronics', 'Accountancy',
       'Economics And Econometrics', 'Computer And Information Sciences',
       'Community Health Officer', 'Social S',
       'Post Graduate Diploma In Public Health', 'Goodcreativity',
       'Bachelor', 'Monitoring And Evaluation', 'Linguistics',
       'Voice Performance', 'Bachelor Of Laws',
       'Library And Information Management', 'Ba Psych', 'Forensic',
       'Forensic Science', 'Bcom', 'Masters', 'Occupational Therapy',
       'Rehabilitation And Mental Health Counseling',
       'Information Technology Management', 'Archaeology', 'Logistics',
       'Engineering Management', 'Bnsc Nursing Science',
       'Aviation Management', 'Land Economy', 'Accounting',
       'Diploma In Visual Effects', 'Digital Media', 'Journalism',
       'Ms In Information Science Machine Learning', 'Applied Geophysics',
       'Bcom International Business', 'Functional Engineering',
       'Development Studies', 'Aviation Administration', 'General Arts',
       'Computing', 'Diploma', 'Anatomy And Physiology',
       'Diploma In Automation And Robotics', 'Advertising',
       'Electronics And Computer Science Engineering', 'Physics',
       'Information And Communication Engineering',
       'Electronics And Computers Engineering',
       'Social Policy And Administration', 'Informatics',
       'Medical Marketing Or Medical Administration',
       'Archeology And Cinematography', 'Carpentry And Joinery',
       'Guidance And Counseling', 'Computer', 'Manufacturing Engineering',
       'Manager', 'Computer And Information Sciencess', 'Zoology', 'Mbbs',
       'Home Economics', 'Paediatric Surgery', 'Healthcare Management',
       'Food Process Engineering', 'Bioengineering', 'Biomedical Science',
       'Aviation Maintenance', 'Microbiology',
       'Political Science And Spanish', 'BBA In Human Resources',
       'Radiography', 'Clinical Research', 'Medical Informatics',
       'Geoinformatics And Geospatial Analytics',
       'Bachelor Of Medicine Bachelor Of Surgery', 'Applied Analytics',
       'Master Of Public Health', 'Veterinary Science', 'Certificate',
       'Medical Science', 'Midwifery',
       'Human Development And Family Science', 'Dietetics',
       'Speech And Language Therapy', 'General Science',
       'Environmental Sustainability', 'Poetry',
       'Electronics And Computer Science', 'History',
       'Tech And Business Management',
       'Communication And Software Engineer', 'Respiratory Therapy',
       'Data Analyst', 'Procurement And Supply Chain Management', 'Arts',
       'Performing Arts', 'High School Certificate', 'Estate Management',
       'Lower Credit', 'Social Development And Policy',
       'Automotive Engineering', 'Textile', 'Education And Geography',
       'Aeronautical Engineering', 'General Management',
       'Electronics And Computer Engineering', 'Certification',
       'Development Economics', 'Film Making',
       'International Development', 'Animal Production',
       'Mineral And Mining Engineering', 'People Analytics',
       'Autonomous Systems And Robotics', 'Remote Sensing',
       'Textile Engineering', 'Machine Learning', 'Analysis',
       'Physiotherapy', 'Statistics And Computer Science', 'Honours',
       'International Business', 'Actuarial Science',
       'Information Systems Engineering',
       'Electronics And Telecommunication Engineering', 'Islamic Studies',
       'Communication And Language Arts Education',
       'Early Childhood Education', 'Multimedia Communication',
       'High School', 'Physical Therapy', 'Human Nutrition And Dietetics',
       'Health Sciences', 'Information Studies', 'General Practitioner',
       'Entrepreneurship Studies',
       'American Sign Language Interpretation', 'Nurse', 'Communications',
       'Brand Strategy', 'Fisheries', 'High School Student',
       'Masters In Healthcare Administration',
       'Advertising And Packaging', 'Computer Networking And It Security',
       'Health Informatics', 'Geographic Information Science',
       'Agricultural Economics And Farm Management',
       'Professional Courses', 'Economics And Finance', 'Animal Science',
       'Electronics And Instrumentation', 'Bachelor Of Computer',
       'Working As Software Devloper',
       'Leadership And Organizational Development', 'Home Tutor',
       'Bachelor Degree In Nursing', 'Education Administration'],
      dtype=object)

In [252]:
# Define mapping: incorrect  correct institution names
institution_mapping = {
    'Nwihs': 'Northwest Institute of Health Sciences',
    'SAINT LOUIS': 'Saint Louis University',
    'Jawaharlal Nehru technological University of Hyderabad': 'Jawaharlal Nehru Technological University, Hyderabad',
    'Kwara state University': 'Kwara State University',
    'Tai Solarin university of Education': 'Tai Solarin University of Education'
}

# Apply mapping to the DataFrame column
df['Institution Name'] = df['Institution Name'].replace(institution_mapping)

# Optional: standardize capitalization (title case)
df['Institution Name'] = df['Institution Name'].str.title()

In [253]:
df['Institution Name'].unique()

array(['Northwest Institute Of Health Sciences', 'Saint Louis University',
       'Illinois Institute Of Technology', ...,
       'Metea Valley High School',
       'Dhanalakshmi Srinivasan Engineering College Perambalur',
       'Jawaharlal Nehru Technological University, Hyderabad'],
      shape=(1819,), dtype=object)

Final Checking of dataset

In [255]:
df.isnull().sum()

Learner SignUp DateTime    0
Opportunity Id             0
Opportunity Name           0
Opportunity Category       0
Opportunity End Date       0
First Name                 0
Date of Birth              0
Gender                     0
Country                    0
Institution Name           0
Current/Intended Major     0
Entry created at           0
Status Description         0
Status Code                0
Apply Date                 0
Opportunity Start Date     0
dtype: int64

In [256]:
duplicates = df.duplicated()
print("Total duplicate rows:", duplicates.sum())

Total duplicate rows: 4

In [257]:
# Remove exact duplicate rows
df = df.drop_duplicates()

In [258]:
df.duplicated().sum()

np.int64(0)

In [261]:
print ("Total Rows:", df.shape[0])
print ("Total Columns:", df.shape[1])

Total Rows: 8552
Total Columns: 16

In [266]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8552 entries, 0 to 8555
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Learner SignUp DateTime  8552 non-null   datetime64[ns]
 1   Opportunity Id           8552 non-null   object
 2   Opportunity Name         8552 non-null   object
 3   Opportunity Category     8552 non-null   object
 4   Opportunity End Date     8552 non-null   datetime64[ns]
 5   First Name               8552 non-null   object
 6   Date of Birth            8552 non-null   datetime64[ns]
 7   Gender                   8552 non-null   object
 8   Country                  8552 non-null   object
 9   Institution Name         8552 non-null   object
 10  Current/Intended Major   8552 non-null   object
 11  Entry created at         8552 non-null   datetime64[ns]
 12  Status Description       8552 non-null   object
 13  Status Code              8552 non-null   int64
 14  Apply Date               8552 non-null   datetime64[ns]
 15  Opportunity Start Date   8552 non-null   datetime64[ns]
dtypes: datetime64[ns](6), int64(1), object(9)
memory usage: 1.1+ MB

Final dataset overview

In [265]:
df.head(10)

,Learner SignUp DateTime,Opportunity Id,Opportunity Name,Opportunity Category,Opportunity End Date,First Name,Date of Birth,Gender,Country,Institution Name,Current/Intended Major,Entry created at,Status Description,Status Code,Apply Date,Opportunity Start Date
0,2023-06-14,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,2024-06-29,Faria,2001-01-12,Female,Pakistan,Northwest Institute Of Health Sciences,Radiology,2024-03-11,Started,1080,2023-06-14,2022-11-03
1,2023-05-01,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,2024-06-29,Poojitha,2000-08-16,Female,India,Saint Louis University,Information Systems,2024-03-11,Started,1080,2023-05-01,2022-11-03
2,2023-04-09,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,2024-06-29,Emmanuel,2002-01-27,Male,United States,Illinois Institute Of Technology,Computer Science,2024-03-11,Started,1080,2024-01-05,2022-11-03
3,2023-08-29,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,2024-06-29,Amrutha Varshini,1999-11-01,Female,United States,Saint Louis University,Information Systems,2024-03-11,Team Allocated,1070,2023-10-09,2022-11-03
4,2023-01-06,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,2024-06-29,Vinay Varshith,2000-04-19,Male,United States,Saint Louis University,Computer Science,2024-03-11,Started,1080,2023-01-06,2022-11-03
5,2024-03-02,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,2024-06-29,Mor,1996-05-12,Male,India,Saint Louis University,Mechanical Engineering,2024-03-11,Waitlisted,1040,2024-03-02,2022-11-03
6,2023-05-31,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,2024-06-29,Fardeen,2001-09-09,Male,India,Illinois Institute Of Technology,Computer Science,2024-03-11,Withdraw,1110,2023-06-14,2022-11-03
7,2023-07-22,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,2024-06-29,Gauri,2006-02-27,Female,United Arab Emirates,Gems New Millennium School Al Khail,Artificial Intelligence,2024-03-11,Team Allocated,1070,2023-07-22,2022-11-03
8,2023-03-20,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,2024-06-29,SIDDHARTH,2005-12-22,Male,India,Ashoka Academy,Robotics And Automation Engineering,2024-03-11,Started,1080,2023-05-24,2022-11-03
9,2023-05-11,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,2024-06-29,Vanshika,1998-06-26,Female,India,Illinois Institute Of Technology,Computer Science,2024-03-11,Team Allocated,1070,2023-12-17,2022-11-03

Exporting Cleaned Dataset

In [231]:
df.to_csv("Cleaned_SLU_Opportunity_Wise_Data.csv", index=False)